# Include your project-specific ignores in this file
# Read about how to use .gitignore: https://help.github.com/articles/ignoring-files
.project
config.php

5656324cde12bb51dc5c84557effd2247b43f752-privatekey.p12
